@model BistroBoss.Models.Produkt

@{
    ViewData["Title"] = "Szczegóły dania";
    <div>
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">@Model.Nazwa</h5>
                <p class="card-text">@Model.Opis</p>
                <p class="card-text">Cena: @Model.Cena.ToString("C")</p>
                <p class="card-text">Czas przygotowania: @Model.CzasPrzygotowania</p>
                <p class="card-text">Kategoria: @Model.Kategoria.Nazwa</p>
            </div>
        </div>
    </div>

}
