@model ICollection<Kategoria>

@{
    ViewData["Title"] = "Menu";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        <strong>@TempData["ErrorMessage"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        <strong>@TempData["SuccessMessage"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div>
    @foreach (var kategoria in Model)
    {
        if(!(kategoria.Produkty.Count == 0 || kategoria.Produkty == null))
        {
            <h1>@kategoria.Nazwa</h1>
        }
        @foreach(var produkt in kategoria.Produkty){
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">@produkt.Nazwa</h5>
                    <p class="card-text">@produkt.Opis</p>
                    <p class="card-text">Cena: @produkt.Cena.ToString("C")</p>
                    <a asp-action="Details" asp-route-id="@produkt.Id" class="btn btn-primary">
                        Szczegóły
                    </a>
                    <a asp-action="AddToBasket" asp-controller="Basket" asp-route-produktId="@produkt.Id" class="btn btn-primary">
                        Dodaj do koszyka
                    </a>
                    <a asp-action="Edit" asp-controller="Product" asp-route-id="@produkt.Id" class="btn btn-warning">
                        Edytuj produkt
                    </a>
                    <a asp-action="Delete" asp-controller="Product" asp-route-id="@produkt.Id" class="btn btn-danger">
                        Usuń produkt
                    </a>
                </div>
            </div>
        }
    }
</div>